@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import './preflight.css' layer(base);

@layer theme {
  :where(:root, body) {
    color-scheme: dark;
  }
}

@theme {
  --*: initial;

  /* Typography */
  --font-display:
    'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;

  --color-brand: #ec93a1;

  /* Breakpoints */
  --breakpoint-xs: 375px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1536px;

  /* Containers */
  --container-3xs: 256px;
  --container-2xs: 288px;
  --container-xs: 320px;
  --container-sm: 384px;
  --container-md: 448px;
  --container-lg: 512px;
  --container-xl: 576px;
  --container-2xl: 672px;
  --container-3xl: 768px;
  --container-4xl: 896px;
  --container-5xl: 1024px;
  --container-6xl: 1152px;
  --container-7xl: 1280px;

  /* Spacing */
  --spacing: 4px;
}
