---
import { css } from '../../../styled-system/css';
---

<section
  class={css({
    display: 'grid',
    placeItems: 'center',
    width: '100svi',
    height: '100svb',
    backgroundColor: '#212121',
    paddingInline: { base: '16px', sm: '24px', md: '32px' },
    paddingBlock: '64px',
  })}
>
</section>
