---
import { css } from '../../../styled-system/css';
---

<section
  class={css({
    display: 'grid',
    placeItems: 'center',
    width: '100svi',
    height: '100svb',
    backgroundColor: '#1a1a1a',
    paddingInline: { base: '16px', sm: '24px', md: '32px' },
    paddingBlock: '64px',
  })}
>
  <h1
    class={css({
      display: 'inline flex',
      justifyContent: 'start',
      alignItems: 'center',
      color: 'primary',
    })}
  >
    GetInTouch
  </h1>
</section>
