---
import { css } from '../../../styled-system/css';
---

<footer
  class={css({
    position: 'relative',
    display: 'grid',
    placeItems: 'center',
    width: '100svi',
    height: '100svb',
    backgroundColor: '#212121',
    paddingInline: { base: '16px', sm: '24px', md: '32px' },
    paddingBlock: '64px',
  })}
>
  <p
    class={css({
      position: 'absolute',
      fontSize: { base: '0.75em', md: '1em' },
      bottom: { base: '12px', md: '32px' },
    })}
  >
    © Copyright 2025, koralle. All Rights Reserved.
  </p>
</footer>
