---
import '../styles/index.css';
import '../styles/preflight.css';
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="colorscheme" content="dark light" />
    <title>koralle's Portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>
